

header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {

  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: whitesmoke
  
}

nav h1 {
  font-style: italic;
  font-size: xx-large;
}

nav p a{
   
   color: whitesmoke;
   font-size: x-large;
}



.mission {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: stretch;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#fig1, #fig2, #fig3, #fig4 {
  
  vertical-align: middle;
  text-align: center;
  background-color: darkgrey;
  margin-bottom: 20px;
}