nav {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

nav h1 {
  font-style: italic;
  font-size: xx-large;
}

nav p a{
   color: whitesmoke;
   font-size: x-large;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

