nav {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

nav h1 {
  font-style: italic;
  font-size: xx-large;
}

nav p a{
   color: whitesmoke;
   font-size: x-large;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-style: italic;
  background-image: url("./images/aleksandar-pavlovic-kDNDBLDBtLo-unsplash.jpg");
  background-size: 1200px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

h1 {
  font-size: xx-large;
}

h4 {
  text-shadow: teal;
  font-size: larger;

}

.our-team {
  background-image: url("./images/aleksandar-pavlovic-kDNDBLDBtLo-unsplash.jpg");
  background-size: 1200px;
  background-blend-mode: screen;

  
}

.img2 {
  height: 200px;
  width:  200px;
  margin-right: 20px;
}

#fig1 {

  display: flex;
  flex-direction: row;
  

}

#fig2 {

  display: flex;
  flex-direction: row;
  ;
  
}

.fig-section {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

#img1 {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-left: 0px;

}

figcaption {
  font-size: large;
  font-weight: bolder;
  font-style: italic;
  color: whitesmoke;
}

footer span {
  display:flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  font-style: italic;
  background-color: black;
  color: whitesmoke
}